%footer.footer__list
  %ul.footer__contents
    %li.footer__contents--three
      %h2 
        FURIMAについて
      %ul
        %li
          = link_to"会社概要（運営会社）", "#"
        %li
          = link_to"プライバシーポリシー", "#"
        %li
          = link_to"FURIMA利用規約", "#"
        %li
          = link_to"ポイントに関する特約", "#"
    %li.footer__contents--three
      %h2 
        FURIMAを見る
      %ul
        %li
          = link_to"カテゴリー一覧", "#"
        %li
          = link_to"ブランド一覧", "#"
    %li.footer__contents--three
      %h2 
        ヘルプ&ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "#"
        %li
          = link_to"FURIMAロゴ利用ガイドラン", "#"
        %li
          = link_to"お知らせ", "#"
  .footer__logo
    = link_to root_path do
      = image_tag "logo-white.png"
  %p © FURIMA
