%header.header
  .header__inner
    .header__inner--top
      %h1
        %a{href:"/"}
          = image_tag "logo.png"
      %form
        %input{placeholder:"キーワードを探してください"}
        = image_tag "icon-search 1.png", class:"search-btn"
    .header__inner--under
      %nav.nav__lists
        .nav__lists--left
          %ul
            %li
              %h2
                %a{href:"#"}
                  = image_tag "icon_category.png", width:"30"
                  %span カテゴリーから探す
              %ul
                %li
            %li
              %h2
                %a{href:"#"}
                  = image_tag "icon_brand.png", width:"30"
                  %span ブランドから探す
        .nav__lists--right
          %ul
            %li
              %a{href:"#"}
                %i
                %span いいね一覧
            %li
              %a{href:"#"}
                %i
                %span お知らせ
            %li
              %a{href:"#"}
                %i
                %span やることリスト
            %li
              %a{href:"#"}
                = image_tag "member_photo_noimage_thumb.png", width:"25"
                %span マイページ


