.wrapper
  = render "messages/header"
  %main.main__lists
    .main__lists__contents
      .main__lists__contents__logout
        %form
          .main__lists__contents__logout--single
            %button.button
              = link_to "ログアウト","#", method: :delete
    = render "messages/navlists"
  = render "messages/aside"
  = render "messages/footer"
  = render "messages/exhibition_icon"