.wrapper
  = render "mypages/header"
  %main.main__lists
    .main__lists__contents
      .main__lists__contents__logout
        %form
          .main__lists__contents__logout--single
            %button.button
              = link_to destroy_user_session_path, method: :delete, class:"button" do
                ログアウト
    = render "mypages/navlists"
  = render "mypages/aside"
  = render "mypages/footer"
  = render "mypages/exhibition_icon"

