.wrapper
  = render "messages/header"
  %main.main__lists
    .main__lists__contents
      .main__lists__contents__card
        %h2 支払い方法
        .main__lists__contents__card--single
          %section
            .main__lists__contents__card--single--content
              %h3 クレジットカード一覧
          %section.main__lists__contents__card--single--add
            .main__lists__contents__card--single--add--create
              %a.card-btn{href:"/creditcard/new"}
                %i.icon-card
                = icon('fas', 'credit-card',class:"card__icon")
                クレジットカードを追加する
          .main__lists__contents__card--single--footer
            %a{href:"/"}
              %span 支払い方法について
    = render "messages/navlists"
  = render "messages/aside"
  = render "messages/footer"
  = render "messages/exhibition_icon"