.wrapper
  = render "header"
  %main.main__lists
    .main__lists__contents
      .main__lists__user__icon
        = link_to "#" do
          = image_tag'member_photo_noimage_thumb.png', width:"60"
          %h1 
            = current_user.nickname
          .main__lists__user__contents
            .furima__user__number 評価
            .furima__user__shopping 出品数
      .main__lists__to-do-lists
        %ul
          %li
            %h3
              = link_to "お知らせ", "#" 
          %li
            %h3
              = link_to "やることリスト", "#"
        .main-lists
          %ul
            %li
              = link_to "#" do
                %figure
                .main__lists--message
                %i
            %li
              = link_to "#" do
                %figure
                .main__lists--message
                %i
            %li
              = link_to "#" do
                %figure
                .main__lists--message
                %i
            %li
              = link_to "#" do
                %figure
                .main__lists--message
                %i
            %li
              = link_to "#" do
                %figure
                .main__lists--message
                %i
            %li.main__lists--etc
          %ul.main-lists--todo
            %li 現在やることリストはありません
      .main__lists--Purchased--goods
        %h2.main__lists--Purchased--goods__text 購入した商品
        %ul
          %li
            %h3
              = link_to "取引中", "#"
          %li
            %h3
              = link_to "過去の取引", "#"
          .trade-contents
            %Ul.trade-contents--now
              %li 取引中の商品がありません
            %ul.trade-contents--past
              %li
    = render "navlists"
  = render "aside"
  = render "footer"
  = render "exhibition_icon"