.wrapper

  .product_header
    = link_to '#',class:'product_header__logo' do
      = image_tag 'logo.png', class: 'product_header__logo-img'
      
  .main
    %form.main_display(action="#" id="main_display")
      .main_image
        .main_display__title
          %label.title
            出品画像
          %span.required
            必須
        %p.main_image-text
          最大10枚までアップロードできます。
        .main_image-input
          %label.input-label(for="input-function")
            %input.input-function(type="file" accept="image/png,image/jpeg" id="input-function")
            = image_tag 'icon_camera.png', class: 'logo_camera'
            %p.input-text
              ドラックアンドドロップ
              %br またはクリックしてファイルをダウンロード

      .main_text
        .main_text__input__name
          .main_display__title
            %label.title
              商品名
            %span.required
              必須
          .main_text__input__name-form
            %input.input-name(type="text" placeholder="40文字まで")

        .main_text__input__explanation
          .main_display__title
            %label.title
              商品の説明
            %span.required
              必須
          .main_text__input__explanation-form
            %textarea.input-sentences(id="input-sentences" rows="7" placeholder="商品の説明（必須 1000文字以内）※色、素材、重さ、注意点など")
          .main_text__input__explanation-count
            %span.count(id="count")
              0
            ／1000
      
      .main_details
        %p.details
          商品の詳細

        .main_details__category
          .main_display__title
            %label.title
              カテゴリー
            %span.required
              必須
          .main_details__category-select
            %select.category(name="category" id="category")
              %option(selected value label="選択してください" aria-selected="true")
              %option(label="レディース")
              %option(label="メンズ")
              %option(label="ベビー・キッズ")
              %option(label="インテリア・住まい・小物")
              %option(label="本・音楽・ゲーム")
              %option(label="おもちゃ・ホビー・グッズ")
              %option(label="コスメ・香水・美容" )
              %option(label="家電・スマホ・カメラ")
              %option(label="スポーツ・レジャー" )
              %option(label="ハンドメイド" )
              %option(label="チケット")
              %option(label="自動車・オートバイ")
              %option(label="その他")

        .main_details__brand
          .main_display__title
            %label.title
              ブランド
            %span.optional
              任意
          .main_details__brand-form
            %input.input-brand(type="text" name="name" placeholder="例）シャネル" id="input-brand")
          
        .main_details__status
          .main_display__title
            %label.title
              商品の状態
            %span.required
              必須
          .main_details__status-select
            %select.status(name="status" id="status")
              %option(selected value label="選択してください" aria-selected="true")
              %option(label="新品・未使用")
              %option(label="未使用に近い")
              %option(label="目立った傷や汚れなし")
              %option(label="やや傷や汚れあり")
              %option(label="傷や汚れあり")
              %option(label="全体的に状態が悪い")
            
      .main_delivery
        %p.delivery
          配送について
        .main_delivery__fee
          .main_display__title
            %label.title
              配送料の負担
            %span.required
              必須
          .main_delivery__fee-select
            %select.delivery-fee(name="delivery-fee" id="delivery-fee")
              %option(selected value label="選択してください" aria-selected="true")
              %option(label="送料込み")
              %option(label="着払い")

        .main_delivery__area
          .main_display__title
            %label.title
              発送元の地域
            %span.required
              必須
          .main_delivery__area-select
            %select.area(name="area" id="area")
              %option(selected value label="選択してください" aria-selected="true")
              %option(label="北海道")
              %option(label="青森県")
              %option(label="岩手県")
              %option(label="宮城県")
              %option(label="秋田県")
              %option(label="山形県")
              %option(label="福島県")
              %option(label="茨城県")
              %option(label="栃木県")
              %option(label="群馬県")
              %option(label="埼玉県")
              %option(label="千葉県")
              %option(label="東京都")
              %option(label="神奈川県")
              %option(label="新潟県")
              %option(label="富山県")
              %option(label="石川県")
              %option(label="福井県")
              %option(label="山梨県")
              %option(label="長野県")
              %option(label="岐阜県")
              %option(label="静岡県")
              %option(label="愛知県")
              %option(label="三重県")
              %option(label="滋賀県")
              %option(label="京都府")
              %option(label="大阪府")
              %option(label="兵庫県")
              %option(label="奈良県")
              %option(label="和歌山県")
              %option(label="鳥取県")
              %option(label="島根県")
              %option(label="岡山県")
              %option(label="広島県")
              %option(label="山口県")
              %option(label="徳島県")
              %option(label="香川県")
              %option(label="愛媛県")
              %option(label="高知県")
              %option(label="福岡県")
              %option(label="佐賀県")
              %option(label="長崎県")
              %option(label="熊本県")
              %option(label="大分県")
              %option(label="宮崎県")
              %option(label="鹿児島県")
              %option(label="沖縄県")
              %option(label="未定")
          
        .main_delivery__days
          .main_display__title
            %label.title
              発送までの日数
            %span.required
              必須
          .main_delivery__days-select
            %select.days(name="days" id="days")
              %option(selected value label="選択してください" aria-selected="true")
              %option(label="1~2日で発送")
              %option(label="2~3日で発送")
              %option(label="4~7日で発送")
            
      .main_price
        .main_price__title
          %p.price
            価格（¥300~9,999,999)
          = link_to "#", class:"price_help" do
            = image_tag "はてなのアイコン.png", class: "help_mark"
          
        .main_price__decide
          .main_price__decide-input
            .main_display__title
              %label.title
                販売価格
              %span.required
                必須
            %p.unit
              ¥
            .main_price__decide-input-form
              %input.price(type="number" name="price" id="price" placeholder="0")
          .main_price__decide-fee
            %p.fee-label
              販売手数料（10％）
            %span.fee-value
              ー
          .main_price__decide-profit
            %p.profit-label
              販売利益
            %span.profit-value
              ー

      .main_send
        %button.exhibition(type ="submit" tabindex="0" id="exhibition" form="main_display")
          出品する
        %button.draft(type="button" tabindex="0" id="draft")
          下書きに保存
        = link_to "#", class:"return" do
          もどる
      .main_warn
        %p.main_warn__note
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  .product_footer
    %ul.document
      %li.privacy-policy
        プライバシーポリシー
      %li.frima-terms
        フリマ利用規約
      %li.law
        特定商取引に関する表記
    .product_footer__logo
      = link_to "#",class:"footer_logo" do
        = image_tag 'logo.png', class: 'footer_logo__img'
    %p.product_footer__furima
      © FURIMA