.wrapper
  = render "mypages/header"

  %nav.root
    .root__lists
      %li
        = link_to root_path, class: "root__lists--top-page" do
          FURIMA
      %li
        = icon('fa', 'angle-right', class: 'root__lists__icon')
      %li
        = link_to "#", class: "root__lists--big-category" do
          = @product.category.parent.parent.name
      %li
        = icon('fa', 'angle-right', class: 'root__lists__icon')
      %li
        = link_to "#", class: "root__lists--middle-category" do
          = @product.category.parent.name
      %li
        = icon('fa', 'angle-right', class: 'root__lists__icon')
      %li
        = link_to "#", class: "root__lists--small-category" do
          = @product.category.name
      %li
        = icon('fa', 'angle-right', class: 'root__lists__icon')
      %li
        %p 
          = @product.name
  .main__contents
    .item
      .item__box
        .item__box--name
          = @product.name
        .item__box--photos
          .main
            .main__image
              - if @product.images.attached?
                -  @product.images.each do |image|
                  = image_tag image, class: "main__image--pic", height: "346px"
                  .sub__images
                    = image_tag image, class: "sub__images--pic-1", height: "87px"
                    = image_tag image, class: "sub__images--pic-2", height: "87px"
                    = image_tag image, class: "sub__images--pic-3", height: "87px"
        .item__box--price
          %span
            ¥
            = @product.price
          .item__box--price-detail
            %span
              (税込)
            %span
              送料込み
        .item__box--three-btn
        - if user_signed_in? && current_user.id == @product.user_id
          .item__box--three-btn--change-btn
            = link_to "商品の編集", purchase_index_path, class:"item__box--three-btn--change-btn--edit"
            %p.text__box OR
            = link_to "商品の削除",product_path, method: :delete, data: { confirm: '【確認】本当に削除しますか？' }, class:"item__box--three-btn--change-btn--delete"
        - else
          .item__box--three-btn--Purchase-btn
            = link_to "購入画面に進む", purchase_index_path
        .item__box--text 
          = @product.product_introduction
        .item__box--table
          %table
            %tbody
              %tr
                %th 出品者
                %td 
                  = @product.user.nickname
              %tr
                %th カテゴリー
                %td
                  = @product.category.parent.parent.name
                  %br/
                  = @product.category.parent.name
                  %br/
                  = @product.category.name
              %tr
                %th ブランド
                %td
                  = @product.brand
              %tr
                %th 商品のサイズ
                %td
                  = @size
              %tr
                %th 商品の状態
                %td 
                  = @product_condition
              %tr
                %th 配送料の負担
                %td 
                  = @delivery_fee
              %tr
                %th 発送元の地域
                %td
                  = link_to "#", class:"prefectures" do
                    = @prefecture
              %tr
                %th 発送日の目安
                %td 
                  = @delivery_days
        .item__box--option
          .like
            = icon('fa', 'star', class: 'like__icon')
            お気に入り 0
          .report
            = icon('fa', 'flag', class: 'report__icon')
            = link_to "#", class: "report-btn" do
              不適切な商品の通報
      .item__comment
        %textarea.item__comment__box(id="comment__box")
        .item__comment__notice-message
          相手のことを考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %br/
        %button.item__comment__btn(type="submit")
          = icon('fa', 'comment', class: 'comment__icon')
          コメントする
      .links
        .prev-item
          = icon('fa', 'angle-left', class: 'prev-item__icon')
          = link_to "#", class: "prev-item__link" do
            前の商品
        .next-item
          = link_to "#", class: "next-item__link" do
            次の商品
          = icon('fa', 'angle-right', class: 'next-item__icon')
      .relation-item
        = link_to "#", class: "relation-item__link" do
          関連商品を見る
      .item__lists
        .item__list
          = link_to "#" do
            .item__image
              = image_tag "IMG_9072.jpg" ,class:"item__pic"
            .item__body
              %h3.item__name product1
              .item__details
                %ul.item__info
                  %li 1000円
                  = icon('fa', 'star', class: 'item__info__icon')
                  0
                %p (税込)
  = render "mypages/aside"
  = render "mypages/footer"
  = render "mypages/exhibition_icon"